/* Palette
#DEA942
#A78D65
#FFF8F0
#402E32 */

.App {
  text-align: center;
  color: #DFE0DF;
  background-color: #673E00;
  min-height: 100vh;
  background-image: url('https://painters-bootcamp.s3-us-west-2.amazonaws.com/paint-BG.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a:hover {
  color: #673E00!important;
}